.superSearch{
  .JGline{
    .JGlabel{

    }
  }
  .searchLine{
    padding: 8px 0;
    border-bottom: solid 1px #ffffff;
    .lineTitle{
      padding: 2px 0;
      width: 80px;
      background-color: #2db7f5;
    }
    .selItem{
      padding: 2px 8px;
      margin: 0 2px;
      cursor: pointer;
    }
    .selItemOK{
      background-color: #2db7f5;
    }
  }
}
