spring:
  profiles:
    active: test  #合并 application-test.yml 中的配置参数
  #上传文件设置
  http:
    multipart:
      max-file-size: 100Mb
      max-request-size: 100Mb
  #线程池配置信息
  thread:
    pool:
      corePoolSize: 10
      maxPoolSize: 20
      keepAliveSeconds: 120
      queueCapacity: 50
  #redis配置信息
  redis:
    host: 127.0.0.1
    port: 6379
    maxIdle: 200
    maxActive: 1024
    maxWait: 1000
  #数据库连接配置信息
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    cachePrepStmts: true
#mybatis配置信息
mybatis:
  configLocation: classpath:mybatis/MapperConfig.xml
  mapperLocations: classpath:mybatis/sql/*.xml,classpath:mybatis/sql/extend/*.xml

logging:
  config: classpath:log4j2.xml

mapper:
  identity: MYSQL

server:
  port: 80
#GPS+OBD 混合信息 redis key值
gpsObdMessage-key: gpsObdMessage_
#超速设置 向tic-service 项目去请求
#carcmd-Url: http://47.98.39.45:9095/api
#SYS项目-重置密码
resePwd: 111111

apiurl: http://119.23.242.234:9095/api
biz_url: http://119.23.242.234:8080
distance: 100
lowSpeed: 25
