<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldz.dao.biz.mapper.ClDdMapper">

<select id="DdTongji" resultType="com.ldz.dao.biz.model.ClDd" parameterType="com.ldz.dao.biz.bean.DdTongjiTJ">
select * from CL_DD t where t.CJSJ between
		STR_TO_DATE(#{kssj},'%Y-%m-%d %H:%i:%s')
		and
		STR_TO_DATE(#{jssj},'%Y-%m-%d %H:%i:%s')
		<if test="jgdm != null">
			and t.JGDM = #{jgdm}
		</if>
		<if test="jgdmlike != null">
			and t.JGDM like '${jgdmlike}%'
		</if>
		<if test="sjxm != null and sjxm != ''">
			and t.sjxm like '%${sjxm}%'
		</if>
</select>

<select id="weekTj" resultType="com.ldz.dao.biz.bean.DdTjTx" parameterType="com.ldz.dao.biz.bean.DdTongjiTJ">
SELECT
 	t1.today,
 	count (CL_DD.cjsj)
 VALUE
 FROM
 	(
 		<![CDATA[ select
to_char (to_date(#{cxsj},'yyyy-mm-dd')-to_char(sysdate,'d')+14 - LEVEL, 'yyyy-mm-dd') today  from dual   connect BY LEVEL <= 7 ]]>
	) t1
 LEFT JOIN CL_DD ON t1.today = to_char(CL_DD.cjsj,'yyyy-mm-dd')
       <if test="jgdm != null">
			and JGDM = #{jgdm}
		</if>
     <if test="jgdmlike != null">
			and JGDM like '${jgdmlike}%'
		</if>
 GROUP BY
 	t1.today ORDER BY t1.today
</select>

</mapper>
