.scrnBoxSty {
  background-color: #050a32;
  .labSty {
    background: linear-gradient(to top, #5299ff, #7eeeff);
    -webkit-background-clip: text;
    color: transparent;
  }

  .pagerTop {
    height: 125px;
    line-height: 125px;
    background-image: url("./comp/file/topBg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .titleBoxSty {
      .labSty;
      font-size: 60px;
      font-weight: 600;
      text-align: center;
    }
    .dateBoxSty {
      padding-left: 20px;
      font-size: 18px;
      color: #ffffff;
    }
    .topRightTextBox {
      height: 100%;
      padding-right: 20px;
      .labelsty {
        font-size: 20px;
        color: #ffffff;
      }
      .valCard {
        margin: auto 12px;
        width: 36px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 3px;
        border: solid 1px #5a9cff;
        background-color: #031759;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
      }
      .daySty {
        line-height: 150px;
        span {
          font-size: 18px;
          color: #6a88e4;
        }
      }
    }
  }

  .hyBox {
    width: 638px;
    height: 463px;
    background-image: url("./comp/file/hybg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .boxTitle {
      .labSty;
      margin: 12px 28px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      font-weight: 600;
    }
    .chartsBox {
      //background-color: #348EED;
      margin: 0px 12px 13px;
    }
  }

  .yqBox {
    width: 638px;
    height: 411px;
    background-image: url("./comp/file/yqbg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .boxTitle {
      .labSty;
      margin: 12px 28px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      font-weight: 600;
    }
    .chartsBox {
      margin: 0px 12px 13px;
    }
  }

  .centerPagerBox{
    .valNameBoxSty{
      .ft{
        font-size: 20px;
      }
      .box1{
        color: #ffffff;
        .ft;
      }
      .box2{
        .span1{
          .ft;
          color:#6582db;
          margin-right: 4px;
        }
        .span2{
          .ft;
          color: #ff4f4e;
          margin-right: 12px;
        }
        .span3{
          color: #ff4f4e;
          i{
            transform: translateY(-5px);
          }
        }
      }
    }

    .moneyBoxSty{
      margin: 10px 0 30px;
      position: relative;
      .codeUnit{
        position: absolute;
        top:0;
        bottom:0px;
        left: 170px;
        font-size: 70px;
        color: #ffffff;
      }
      .cardItem{
        margin-right: 35px;
        width: 65px;
        height: 90px;
        border: solid 2px #3b67b5;
        border-radius: 4px;
        text-align: center;
        line-height: 90px;
        i{
          color:#ffffff;
          font-size: 50px;
        }

      }
    }

    .imgMesBox{
      margin-top: 40px;
      .itemBox{
        width: 110px;
        text-align: center;
        .imgBox{
          img{
            width: 100px;
            height: 100px;
          }
        }
        .titleBox{
          font-size: 18px;
          color: #fff;
          transform: translateY(-3px);
        }
        .messBox{
          width: 85px;
          margin: auto;
          font-size: 16px;
        }
      }
    }
  }

  .xxBox {
    width: 638px;
    height: 904px;
    background-image: url("./comp/file/xxbg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    .boxTitle {
      .labSty;
      margin: 12px 28px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      font-weight: 600;
      text-align: right;
    }
    .centerBox {
      //background-color: #348EED;
      margin: 0px 40px 13px;
      .tableBoxSty {
        padding-top: 20px;
        .ivu-table{
          background-color: rgba(255,255,255,0);
        }
        .ivu-table th {
          background-color: #102761;
          border: none;
          color: #ffffff;
        }
        .ivu-table td{
          background-color: rgba(255,255,255,0);
        }
        .ivu-table th, .ivu-table td{
          border-bottom: none;
          color: #ffffff;
        }
        .ivu-table-wrapper{
          border: none;
        }
        .ivu-table:before{
          background-color: rgba(255,255,255,0);
        }
        .ivu-table:after{
          background-color: rgba(255,255,255,0);
        }
      }

      .statisticsBox{
        .staItem{
          padding-bottom: 25px;
          width: 220px;
          border-bottom: solid 1px #0c2773;
          text-align: center;
          .titleSty{
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;

          }
          .valueSty{
            margin-top: 15px;
            font-size: 28px;
            font-weight: 600;
            color: #20fdfa;
            .unit{
              font-size: 18px;
            }
          }
        }
      }

      .chartBox{
        .chartDom{
          width: 220px;
          height: 220px;
          margin-bottom: 20px;
        }

        .legLine{
          height: 15px;
          line-height: 15px;
          margin-bottom: 18px;
          .legCode{
            width: 15px;
            height: 15px;
            margin-right: 15px;
          }
          .legName{
            color: #ffffff;
            font-size: 15px;
            margin-right: 35px;
          }
          .legVal{
            font-size: 15px;
            color: #00d5f6;
            margin-right: 20px;
          }
          .legPID{
            font-size: 15px;
            color: #00d5f6;
          }
        }
      }
    }

  }
}
